p {
	font-size: 12px;
	margin-bottom: 20px;
}

.nologin {
	overflow: hidden;
}

.no-margin {
	margin: 0 !important;
}

#admin-box, #login-box {
	margin-top: 40px;
}

#login-box form {
	margin-top: 30px;
}

#login-box h2 {
	font-weight: normal;
	font-size: 25px;
}

.button {
	margin-top: 10px;
	font-weight: bold;
}

.tiny.button {
	font-size: 14px;
}

.tabs {
	margin-top: 20px;
	border-bottom: 1px solid #cccccc;
}

.tabs dd {
	margin-left: 1px;
	margin-right: 1px;
}

.tabs dd.active {
	font-weight: bold;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	margin-bottom: -1px !important;
	margin-left: -1px;
	margin-right: -1px;
}
.tabs dd a {
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: default;
	font-size: 13px;
}

.fa {
	margin-right: 2px;
}

input, select {
	font-size: 12px !important;
}

label {
	font-size: 12px;
	font-weight: bold;
}

#log {
	padding: 10px;
	border: 1px solid #cccccc;
	height: 300px;
	overflow: auto;
}

#table {
	height: 300px;
	margin-bottom: 20px;
}

.w2ui-grid-data>div{
	font-size: 12px !important;
}

.w2ui-grid-data .fa {
	display: block;
	text-align: center;
}

.fa.fa-check {
	color: #008000;
}

.fa.fa-x {
	color: #cc0000;
}

#icons .button, .icon.button {
	margin: 0 !important;
}
#icons {
	background: #dadfe1;
	height: 200px;
	overflow: auto
}
