p {
	font-size: 12px;
	margin-bottom: 20px;
}

.nologin {
	overflow: hidden;
}

.no-margin {
	margin: 0 !important;
}

.hide {
	display: none;
}

h3 {
	font-size: 18px;
	margin: 0 0 15px;
	padding: 5px 0;
	border-bottom: 1px solid #E9E9E9;
}

#admin-box, #login-box {
	margin-top: 40px;
}

#login-box form {
	margin-top: 30px;
}

#login-box h2 {
	font-weight: normal;
	font-size: 25px;
}

.button {
	margin-top: 10px;
	font-weight: bold;
}

.tiny.button {
	font-size: 14px;
}

.tabs {
	margin-top: 20px;
	border-bottom: 1px solid #cccccc;
}

.tabs dd {
	margin-left: 1px;
	margin-right: 1px;
}

.tabs dd>a {
	padding: 3px 10px !important;
}

.tabs dd.active {
	font-weight: bold;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	margin-bottom: -1px !important;
	margin-left: -1px;
	margin-right: -1px;
}
.tabs dd a {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
}

.tabs dd a, .sub-nav a {
	cursor: default;
}

.fa {
	margin-right: 2px;
}

input, select {
	font-size: 12px !important;
}

label {
	font-size: 12px;
	font-weight: bold;
}

#log {
	padding: 10px;
	border: 1px solid #cccccc;
	height: 300px;
	overflow: auto;
}

#table {
	height: 300px;
	margin-bottom: 20px;
}

.w2ui-grid-data>div{
	font-size: 12px !important;
}

.w2ui-grid-data .fa {
	display: block;
	text-align: center;
}

.fa.fa-check {
	color: #008000;
}

.fa.fa-x {
	color: #cc0000;
}

#icons .button, .icon.button {
	margin: 0 !important;
}
#icons {
	background: #dadfe1;
	height: 200px;
	overflow: auto
}

hr {
    border: none;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    line-height: 0px;
    height: 2px;
    margin: 30px 0;
    z-index: 0;
    position: relative;
    text-align: center;
}

hr:after {
    content: attr(data-content);
    display: inline-block;
    background: #ffffff;
    line-height: 18px;
    font-size: 11px;
    padding: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #cccccc;
    z-index: 1;
    position: relative;
    margin: -30px auto 0;
}

.panel p {
	margin: 0;
}

.panel a.button {
	margin: 0;
	font-size: 11px !important;
	padding: 5px 10px !important;
}

.a-small {
	font-size: 11px;
	 margin-left: 20px;
}

#config {
	margin-top: 20px;
}

#config input, #config textarea, #config .switch, #config select {
	margin: 0;
}

p.description {
	margin: 5px 0 15px;
	font-style: italic;
}

.theme-selector {
	min-height: 220px;
}
.theme-selector {
	border-width: 5px;
	border-style: solid;
	border-color: #ffffff;
	position: relative;
	overflow: hidden;
}

.theme-selector .description {
	display: none;
	position: absolute;
	top: 170px;
	background: rgba(0,0,0,0.4);
	width: 100%;
	padding: 10px;
	z-index: 0;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
}

.theme-selector:hover > .description {
	display: block;
}

.theme-selector:hover, .theme-selector.selected {
	border-color: #3498db;
}
.theme-selector.selected:before {
	content: "\f00c";
	border: 1px solid #3498db;
	background-color: #3498db;
	color: #ffffff;
	position: absolute;
	left: 185px;
	top: 185px;
	font-family: 'FontAwesome';
	z-index: 1;
	width: 30px;
	text-align: center;
	border-top-left-radius: 5px;
}

.quick-settings  {
	padding: 5px !important;
	font-size: 13px !important;
	margin: 0;
}